.container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 2rem 0.5rem;
    position: relative;
    overflow: hidden;
}

.content_Detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.Images_container {
    padding: 0.5rem 0 2rem 0;
    width: 100%;
    overflow: hidden;
    /* Prevent overflowing content */
    position: relative;
    /* Enable positioning of navigation buttons */
}
.pictures {
    width: 100%;
    padding: 1rem 0.1rem 2rem 0.1rem;
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
    /* Arrange reviews horizontallymax */
    transition: transform 0.5s ease-in-out;
    /* Smooth transition for sliding */
    gap: 60px;
}

.pictures::-webkit-scrollbar {
    display: none;
}

.pictures img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.slider_button {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 7px 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.next {
    right: 0.4rem;
}

.prev {
    left: 0.5rem;
}

.slider_button img {
    width: 30px;
}

.Images_container .hide_img_indicators,
.Images_container .hide_dot_indicators {
    display: none;
}

.hide_slider_button {
    display: none;
}


.Head_master h1 {
    font-family: "Jost", sans-serif;
    padding: 15px 5px 15px 40px;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 5px;
}

.Head_master h1 {
    color: #8D8D8D;
}

.Head_master {
    width: 98%;
    padding: 2rem 1rem;
    border-radius: 0.2rem;
    background: #243858;

}

.conetnts {
    width: 100%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.conetnts p {
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
}


.img_indicators {
    width: 100%;
    border-radius: 0.1rem; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

.img_indicators .img_indicator {
    cursor: pointer;
    max-width: 15%;
    max-height: 40px;
    margin: 0 0.2rem;
    filter: brightness(70%);
    border-radius: 2px;
}

.img_indicators .indicator_inactive  {
    max-width: 15%;
    max-height: 40px;
    margin: 0 0.2rem;
    border-radius: 2px;
    opacity: 0.5; 
}




.dot_indicators {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

.dot_indicator {
    cursor: pointer;
    width: 2.6rem;
    height: 0.6rem;
    padding: 4px;
    border-radius: 30px;
    background-color: #E33B4E;
}

.dot_indicators .indicator_inactive{
    width: 1.6rem;
    height: 0.6rem;
    padding: 4px;
    border-radius: 30px;
    background-color: #e33b4e80;
}


.dot_indicators .dot_indicator,
.dot_indicators .indicator_inactive {
    transition: width .4s;
} 


  .hide_img_indicators {
    display: none;
  }
  
  .hide_dot_indicators {
    display: none;
  }




@media screen and (min-width: 525px) {
    .Images_container {
        padding: 0 0 2rem 0;
    }

    .pictures {
        padding: 2rem 0;
    }
}

@media screen and (min-width: 768px) {
    .conetnts p {
        font-family: "Jost", sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    .Images_container {
        padding: 0 0 4rem 0;
    }

    .img_indicators .img_indicator {
        max-width: 20%;
        max-height: 50px;
    }

    .img_indicators .indicatror_inactive {
        max-width: 20%;
        max-height: 50px;
    }

        /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

        .story .Title {
            width: 50%;
        }
    
        .Title .detail {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 0 10px 0;
        }
    
        .detail .category {
            font-size: 14px;
        }
    
        .detail .author {
            font-size: 16px;
            font-weight: 500;
        }
    
        .story .Title h2 {
            font-size: 20px;
            color: #FFFFFF;
        }
    
        /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
    
      /* ////////////////  body content styles ///////////////////////// */
    
    .Blog_body h1{
        font-size: 34px;
        font-weight: 800;
    }
    .Blog_body h2{
        font-size: 30px;
        font-weight: 700;
    }
    .Blog_body h3{
        font-size: 28px;
        font-weight: 600;
    }
    .Blog_body h4{
        font-size: 24px;
        font-weight: 500;
    }
    
    .Blog_body p{
        font-size: 20px;
    }
    .Blog_body a{
        cursor: pointer;
        font-size: 16px;
        color: #A382C6;
        text-decoration: underline;
    }
    .Blog_body h1 em {
        font-size: 18px;
    }
    .Blog_body p em {
        font-size: 16px;
    }
    .Blog_body blockquote{
        font-family: "Alegreya Sans SC", sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .Blog_body Strong{
        font-size: 20px;
        font-weight: 700;
    }
    .Blog_body ul{
        list-style: square;
        padding: 0.2rem ;
    }


}

@media screen and (min-width: 1024px) {

    .Blog_body {
        display: flex;
        width: 48%;
    }

    .content_Detail {
        padding: 1rem 0;
        gap: 20px;
        flex-direction: row;
    }

    .Images_container {
        width: 48%;
        padding: 0 0 3rem 0;
    }

    .Images_container .pictures {
        padding: 0.5rem 0;
        width: 100%;
        height: 280px;
    }

    .conetnts p {
        font-family: "Jost", sans-serif;
        font-size: 20px;
        font-weight: 400;
    }
}