* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'jost', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: #E7EFF1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#root{
  width: 100%;
}